#
# Documentation is here: http://git-scm.com/docs/gitignore
#
tmp/
*.swp
/nbproject/

#
# Ignore configuration files that may contain sensitive information or other customizations.
#
sites/development.services.yml
sites/default/RCS
sites/*/*services*.yml
sites/*/*settings*.php*
sites/*/*settings.local.php-caching_enabled
sites/*/*settings.local.php-no_caching

###
### It would be nice to keep our images in git.
### Drupal insists on getting images from a subdirectory of sites/default/files
### But sites/default/files is full of files we do not want to keep in git.
### So I tried the following settings to try to get this to work the way I want,
###   but it didn't work.
### Note to self: Don't try this again, just remember (uhg) to copy the files by hand!
###
### !/sites/default
### /sites/default/files
### !/sites/default/files/idmygadget/*

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
#
# Ignore subsites
#
idMyGadget
resume
#
# Ignore the experimental hugs module that is part of the jmws_hello_world repo
#
hugs
#
# Ignore jmws modules and themes (they are in their own separate repos)
#
modules/jmws
themes/jmws
