#
# Documentation is here: http://git-scm.com/docs/gitignore
#
tmp/
*.swp
/nbproject/

#
# Ignore configuration files that may contain sensitive information.
#
sites/default/RCS
sites/*/*services*.yml
sites/*/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
#
# Ignore subsites
#
idMyGadget
resume
#
# Ignore the experimental hugs module that is part of the jmws_hello_world repo
#
hugs
#
# Ignore jmws modules and themes (they are in their own separate repos)
#
modules/jmws
themes/jmws
#
# Old (for d7)
#
sites/all/modules/jmws
sites/all/themes/jmws
