<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,700,600' rel='stylesheet' type='text/css' />
    <style type="text/css">
    <!--

body {
  width: 80%;
  color: #343434;
  margin: 1em auto;
  font-family: 'Open Sans', Verdana, sans-serif;
}

details {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2em;
  display: block;
}

details summary {
  padding: 1em;
  margin-bottom: 1em;
  display: block;
}

details.error summary {
  background-color: #ffd5d5;
}

details.warning summary {
  background-color: #fff3bb;
}

a {
  color: #095cb1;
  font-weight: bold;
  text-decoration: none;
}

h5 {
  font-size: 1em;
}

aside {
  font-style: italic;
  line-height: 20px;
  font-size: 15px;
}

.group {
  border: 1px solid #ececec;
  padding: 1em;
  display: block;
}

.group > summary {
  padding: 0;
  color: #c8c8c8;
  margin-bottom: 0;;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: block;
}

.group[open] > summary {
  margin-bottom: 1em;
}

.group > details:last-child {
  margin-bottom: 0;
}

    -->
    </style>
  </head>
  <body>
  {% for tag, tagged_issues in issues %}
    <details open="true" class="group">
      <summary>{{ tag }}</summary>
      {{ tagged_issues }}
    </details>
  {% endfor %}
  </body>
</html>
